body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.app-notice--banner {
	flex: 0 0 auto;
}

.nav-global {
	padding-right: 0;
}

.nav-global a,
.nav-global a.nav-has-sub:after,
.nav-global i {
	transition: all .25s;
}

.nav-main {
	padding: 0;
}

.nav-main a,
.nav-main a.nav-open{
	border: 0;
	border-right: 1px solid #ddd;
	border-radius: 0;
	padding: 15px 13px;
}

.nav-main a:hover {
	border: 0;
	border-right: 1px solid #ddd;
}

.nav-main .nav-edit,
.nav-main .nav-files,
.nav-main .nav-members,
.nav-main .nav-tools,
.nav-main .nav-settings {
	margin-left: -3px;
}

.nav-main .nav-sub-menu {
	margin-top: 0;
	max-width: 200px;
}

.nav-main .nav-sub-menu ul {
	width: 200px;
}

.nav-main .nav-sub-menu a,
.nav-main .nav-sub-menu a:hover {
	border: 0;
	border-bottom: 1px solid #eee;
}

.nav-main .nav-sub-menu a.nav-add {
	border: 0;
}

.nav-main .nav-sub-menu .nav-filter a:hover {
	border-bottom: 0;
}

.form-standard .tab-wrap .tabs {
	margin-bottom: 0;
}

.form-standard fieldset {
	border-bottom: 1px solid #eee;
	padding: 20px;
}

.form-standard fieldset:first-of-type {
	border-top: 1px solid #eee;
}

@media screen and (min-width: 750px) {
	.form-standard fieldset {
		padding: 20px;
	}
}

.form-standard fieldset.fieldset---closed {
	padding: 20px 20px 12px 20px;
}

@media screen and (min-width: 750px) {
	.form-standard fieldset.fieldset---closed {
		padding: 20px 20px 12px 20px;
	}
}

.form-standard h2 {
	margin: -1px 0 10px;
}

.form-btns.form-btns-auth {
	margin-top: -1px;
}

.form-btns.form-btns-auth fieldset {
	border-bottom: 0;
	padding: 0 10px 10px;
}

button.btn,
a.btn,
input.submit.assets-index.btn,
input[type=submit].btn,
.nav-main .nav-sub-menu a.nav-add,
.nav-custom .nav-sub-menu a.nav-add {
	box-shadow: 0 0 0 0;
	transition: all .25s;
}

button.btn:hover,
a.btn:hover,
input.submit.assets-index.btn:hover,
input[type=submit].btn:hover,
.nav-main .nav-sub-menu a.nav-add:hover,
.nav-sub-menu a.nav-add:hover {
	box-shadow: 0 0 0 0;
}


a {
	transition: all .25s;
}

.wrap .btn.action,
.filter-item__link--action {
	box-shadow: 0 0 0 0;
}